.ant-alert .ant-alert-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ant-alert .ant-alert-content .ant-alert-message {
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}